*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background: #fff;
  color: #1b1b1b;
}

#main-container {
  position: relative;
  width: 100%;
  background: #000;
  // margin-top: 5rem;
}

#header-desktop {
  font-size: 0px;
  position: absolute;
  z-index: 20;
  height: 50px;
  width: 100%;
  top: 50px;
  left: 0px;
}

#header-desktop .container-logo {
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}

@media (max-width: 480px) {
  #header-desktop {
    top: 10px;
  }

  #header-desktop .container-logo { 
    left: 30px;
    height: 75%;
    -webkit-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
  }
}

#header-desktop .container-logo svg {
  height: 100%;
  -webkit-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}

@media screen and (min-width: 1000px) {
  .hero .content-text {
    width: 50%;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    margin-right: 30px;
  }
}

.hero__intro {
  text-align: center;
  margin-bottom: 60px;
  max-width: 400px;
}

@media screen and (min-width: 1000px) {
  .hero__intro {
    text-align: left;
    margin-bottom: 0;
    margin-left: 0;
    max-width: 520px;
    margin-right: 0;
  }
}

@media screen and (min-width: 660px) {
  .hero__intro {
    max-width: 500px;
    margin-bottom: 80px;
  }
}

@media screen and (min-width: 1000px) {
.hero .content-visual {
    margin-left: 0;
    margin-right: 0;
}
}

@keyframes heroImg {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes float {
  0% {
    -webkit-transform: translateY(10px) rotate3d(0, 0, 0, 0deg);
    transform: translateY(10px) rotate3d(0, 0, 0, 0deg);
  }
  100% {
    -webkit-transform: translateY(-10px) rotate3d(0, 0, 0, 0deg);
    transform: translateY(-10px) rotate3d(0, 0, 0, 0deg);
  }
}


.img-container img {
  width: 100%;
  height: 100%;
}

canvas {
  display: block;
}

.canvas-wrap {
  max-width: 100%;
  overflow: hidden;
  position: relative;
}

.corner-img {
  // -webkit-filter: grayscale(100%);
  // filter: grayscale(100%);
  position: relative;
  -webkit-transition: filter 200ms ease-in-out;
  transition: filter 200ms ease-in-out;
  width: calc(50% + 1.25rem);
  z-index: 0;
}

.corner-img:first-child {
  margin-bottom: -2.5rem;
}

.corner-img:last-child {
  margin-left: calc(50% - 1.25rem);
}

// .corner-img:hover {
//   -webkit-filter: grayscale(0);
//   filter: grayscale(0);
//   z-index: 1;
// }

.img-frame {
  height: 0;
  position: relative;
  width: 100%;
}

.corner-img-child {
  bottom: 0;
  display: block;
  height: 100%;
  left: 0;
  margin: 0;
  opacity: 1;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: opacity .3s linear;
  transition: opacity .3s linear;
  vertical-align: top;
  width: 100%;
}

.base-overlay {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: 25;
  left: 0;
  // transform: translateY(100vh);
  pointer-events: none;
  background: #000;
}

.overlay-container {
  position: fixed;
  z-index: 5000;
}

.ng-two {
  background: #4C4C4C;
  z-index: 24;
}

.ng-three {
  transition-delay: 200ms !important;
  background: #FFAE1B;
  z-index: 23;
}
.ng-four {
  transition-delay: 300ms !important;
  background: #FF6A40;
  z-index: 22;
}
.ng-five {
  transition-delay: 400ms !important;
  background: #CC4379;
  z-index: 24;
}
.ng-six {
  transition-delay: 500ms !important;
  background: #7D159A;
  z-index: 25;
}

.ng-container-two {
  transition-delay: 1000ms!important;
}

.home-breadcrumb a {
	color: #fff;
	text-decoration: underline;
}

.home-breadcrumb {
	font-size: 1rem;
	padding-left: 10px;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}