a {
  text-decoration: none;
}

.btn {
  margin: 1rem 0;
  width: auto;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  display: inline-block;
  padding: 1rem;
	font-family: "Open Sans", monospace;
	box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 10px;
  font-weight: 400;
  font-size: 1rem;
  text-align: center;
  line-height: 1.5rem;
  overflow: hidden;
  border: 0;
  cursor: pointer;
  -webkit-appearance: none;
}

.btn span {
  position: relative;
  z-index: 3;
}

.btn.btn--white {
    color: #1b1b1b;
    background-color: #fff;
}

.btn.btn--dark {
    background-color: #1b1b1b;
    color: #fff;
}

.btn:hover {
	transition: all .3s ease;
	box-shadow: rgba(0, 0, 0, 0.5) 0px 7px 20px;
}

// .btn.btn--white:focus, .btn.btn--white:hover {
// 	cursor: pointer;
// 	color: #1b1b1b;
// 	background-color: #efefef;
// }