@import "../../../node_modules/bulma/sass/utilities/_all";
@import "../../../node_modules/bulma/sass/grid/columns";
@import "../../../node_modules/bulma/sass/elements/container";
@import "../../../node_modules/bulma/sass/layout/_all";
@import "../../../node_modules/bulma/sass/base/helpers";

// .hero .hero-body {
//   justify-content: center;
//   flex-direction: column;
//   display: flex;
// }

/* Constrain layout override */
.container {
  max-width: 1100px;
}

.info-section .container {
  max-width: 970px;
}

.center-col-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.herov2 {
  background: #000;
  color: #fff;
  padding-top: 15rem;
  padding-bottom: 15rem;
}

.subhero {
  background: #000;
  color: #fff;
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
}

@media (max-width: 480px) {
  .herov2 {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }
}

.info-section {
  background: transparent;
  padding-top: 8rem;
  padding-bottom: 8rem;
}