.ng-menu-link {
	font-family: 'Open Sans', sans-serif;
	font-size: 36px;
	position: relative;
	display: inline-block;
}


.ng-menu-link:before {
  content: "";
  position: absolute;
  width: 60%;
	max-width: 60px;
  height: 1px;
  bottom: 50%;
  right: calc(100% + 15px);
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.1s ease-in-out 0s;
  transition: all 0.1s ease-in-out 0s;
	transform-origin: right;
}

.ng-menu-link:after {
  content: "";
  position: absolute;
  width: 60%;
	max-width: 60px;
  height: 1px;
  bottom: 50%;
  left: calc(100% + 15px);
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.1s ease-in-out 0s;
  transition: all 0.1s ease-in-out 0s;
	transform-origin: left;
}

.ng-menu-link:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.ng-menu-link:hover:after {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}







.ng-tango-menu{
	position: relative;
	display: inline-block;
	width: 80px;
	overflow: visible;
}

.ng-tango-menu img {
	width: 100%;
}

.ng-tango-bubble{
	 transform: translateX(-100%) scale(0);
	 position: absolute;
	 height: auto;
	 width: auto;
	 min-width: 100px;
	 max-width: 140px;
	 text-align: center;
	 bottom: 100px;
	 left: 0px;
	 background: #222222;
	 border-radius: 13px;
	 padding: 8px 20px;
	 color: #f1f1f1;
	 letter-spacing: 2px;
	 font-size: 12px;
	 display:inline-block;
	 transition: all .3s ease;
	 transform-origin: right bottom;
}

.ng-tango-bubble:before{
	content: "";
  position: absolute;
	width: 11px;
	height: 11px;
	border-radius: 11px;
	right: -4px;
	bottom: -10px;
	background: #222222;
}

.ng-tango-bubble:after{
	content: "";
  position: absolute;
	width: 8px;
	height: 8px;
	border-radius: 8px;
	right: -9px;
	bottom: -19px;
	background: #222222;
}



.ng-tango-bubbles-home{
	transform: translateX(-100%) scale(1);
	transition-delay: .02s;
}

/*  Hide original hello message  */

.ng-menu-link-contact:hover ~ .ng-tango-menu .ng-tango-bubbles-home {
	transform: translateX(-100%) scale(0);
	opacity: 0;
}

.ng-menu-link-services:hover ~ .ng-tango-menu .ng-tango-bubbles-home {
	transform: translateX(-100%) scale(0);
	opacity: 0;
}

.ng-menu-link-about:hover ~ .ng-tango-menu .ng-tango-bubbles-home {
	transform: translateX(-100%) scale(0);
	opacity: 0;
}

.ng-menu-link-projects:hover ~ .ng-tango-menu .ng-tango-bubbles-home {
	transform: translateX(-100%) scale(0);
	opacity: 0;
}


/*  show appropriate tango message  */

.ng-menu-link-contact:hover ~ .ng-tango-menu .ng-tango-bubbles-contact {
	transform: translateX(-100%) scale(1);
	opacity: 1;
	transition-delay: .02s;
}

.ng-menu-link-services:hover ~ .ng-tango-menu .ng-tango-bubbles-services {
	transform: translateX(-100%) scale(1);
	opacity: 1;
	transition-delay: .02s;
}

.ng-menu-link-about:hover ~ .ng-tango-menu .ng-tango-bubbles-about {
	transform: translateX(-100%) scale(1);
	opacity: 1;
	transition-delay: .02s;
}

.ng-menu-link-projects:hover ~ .ng-tango-menu .ng-tango-bubbles-projects {
	transform: translateX(-100%) scale(1);
	opacity: 1;
	transition-delay: .02s;
}