.project-image {
  max-width: 100%;
  height: auto;
  z-index: 2;
  padding-left: 0%;
  padding-right: 0%;
  opacity: 0;
  filter: drop-shadow(0px 14px 28px rgba(0,0,0,0.3));
  -webkit-filter: drop-shadow(0px 14px 28px rgba(0,0,0,0.3));
  -moz-filter: drop-shadow(0px 14px 28px rgba(0,0,0,0.3));
}

.image-column {
  z-index: 1;
}

@media (min-width: 769px) {
  .project-image {
    padding-right: 0%;
    padding-left: 10%;
  }
}

.project-page-img-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 2rem;
}

.project_section {
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
  margin: 4rem 0;
  // background: #efefef;
  position: relative;
}

@media(min-width: 1200px) {
  .project_section { 
    margin: 10rem 0;
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

@media (min-width: 769px) {
  .project-type-underline:after {
    content: " ";
    position: relative;
    top: 1rem;
    display: block;
    height: 2px;
    margin-bottom: 1rem;
    background: #1b1b1b;
  }
}

h2.project-type {
  font-family: 'Maison-Mono',Inconsolata,monospace;
  text-transform: uppercase;
  font-weight: 400;
  opacity: .75;
  letter-spacing: 1px;
}

p.project-short-desc {
  margin-bottom: 2rem;
}

.center-content {
  justify-content: center;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.subhero-subtitle {
  opacity: .75;
  font-family: 'Maison-Mono',Inconsolata,monospace;
  font-weight: 400;
  font-size: 1.5rem;
}