.logo polygon{
  animation: fadeIn 1.3s ease-in-out;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes pulse {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.cls-1 { 
  fill: #383994;
} 
.cls-2 {
  fill: #2c2d59;
} 
.cls-3 {
  fill: #af4c25;
}
.cls-4 {
  fill: #703383;
} 
.cls-5 {
  fill: #482d5e;
}
.cls-6 {
  fill: #a6772b;
}
.cls-7 {
  fill: #c48a2b;
} 
.cls-8 { 
  fill: #e5c043;
} 
.cls-9 {
  fill: #7b2a90;
} 
.cls-10 {
  fill: #ab3073;
} 
.cls-11 {
  fill: #fbad20;
}
.cls-12 {
  fill: #fee73c;
} 
.cls-13 {
  fill: #faf288;
} 
.cls-14 {
  fill: #592b5b;
}
.cls-15 {
  fill: #cc447a;
}
.cls-16 {
  fill: #f0484c;
}
.cls-17 {
  fill: #f26b44;
}
.cls-18 {
  fill: #f78e1e;
} 
.cls-19 {
  fill: #58aade;
}
.cls-20 {
  fill: #f06ca5;
}
.cls-21 {
  fill: #fcf6b5;
}
.cls-22 {
  fill: #f7a09d;
}
.cls-23 {
  fill: #e78195;
}
.cls-24 {
  fill: #fdcfa3;
}
