:root {
  font-size: 18px;
}

h1 , h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  margin-top: 24px;
  margin-bottom: 32px;
  font-size: 4.5rem;
  line-height: 4.5rem;
  font-weight: 800;
  letter-spacing: -1.4px;
  width: 100%;
  position: relative;
  z-index: 1;
}

p {
  font-family: 'Lato', sans-serif;
  margin-top: 8px;
  margin-bottom: 8px;
  opacity: .75;
  font-size: 1rem;
  line-height: 1.625rem;
  width: 100%;
}

.p-large, .p-large p {
  font-size: 1.125rem;
  line-height: 2rem;
}