:root {
  font-size: 18px;
}

@media (max-width: 480px) {
  :root {
    font-size: 14px;
  }
}

@font-face {
  font-family: "Maison-Mono";
  src: url("../fonts/MaisonNeue-Mono.otf") format("opentype")
}


h1 , h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  font-size: 2.33rem;
  line-height: 3.5rem;
  font-weight: 700;
  letter-spacing: -1px;
  width: 100%;
  position: relative;
  z-index: 1;
}

.project-section h1 {
  margin-top: 1rem;
  margin-bottom: 0;
  font-size: 2.33rem;
  line-height: 3rem;
  font-weight: 700;
  letter-spacing: -1px;
  width: 100%;
  position: relative;
  z-index: 1;
}

.project-section h2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  line-height: 3.5rem;
  font-weight: 400;
  letter-spacing: -1px;
  width: 100%;
  position: relative;
  z-index: 1;
}

.herov2 h1 {
  font-size: 3.33rem;
}

.herov2 p {
  font-size: 1rem;
  font-family: 'Maison-Mono', monospace;
  opacity: .75;
  font-weight: 400;
  line-height: 1.75rem;
}

.subhero p {
  font-size: 1rem;
  font-family: 'Maison-Mono', monospace;
  opacity: .75;
  font-weight: 400;
  line-height: 1.75rem;
}

.info-section h1:before {
    content: '';
    height: 3px;
    width: 60px;
    border-radius: 2px;
    background: rgb(57,56,149);
    background: -moz-linear-gradient(90deg, rgba(57,56,149,1) 0%, rgba(172,46,116,1) 33%, rgba(247,143,29,1) 66%, rgba(246,243,136,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(57,56,149,1) 0%, rgba(172,46,116,1) 33%, rgba(247,143,29,1) 66%, rgba(246,243,136,1) 100%);
    background: linear-gradient(90deg, rgba(57,56,149,1) 0%, rgba(172,46,116,1) 33%, rgba(247,143,29,1) 66%, rgba(246,243,136,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#393895",endColorstr="#f6f388",GradientType=1);
    position: absolute;
    top: 30px;
    right: calc(100% + 35px);
}

p {
  font-family: 'Maison-Mono', monospace;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  font-weight: 400;
  opacity: .75;
  font-size: 1rem;
  line-height: 1.75rem;
  width: 100%;
}

// font-size: 1rem;
//   font-family: 'Maison-Mono', monospace;
//   opacity: .75;
//   font-weight: 400;
//   line-height: 1.75rem;

// .info-section p {
//   font-size: 1rem;
//   line-height: 1.75rem;
// }