/* project main image animation */
.project_section.reach .project-image {
  opacity: 1;
  transition: opacity 1000ms cubic-bezier(0.694, 0, 0.335, 1);
}

/* project absolute image animation */
.project_section.reach .illu .bg {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.project_section.reach .illu:after {
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
	transform: translateX(-100%);
}


.project_section .illu {
  position: absolute;
  top: 0px;
  z-index: 1;
  height: 100%;
  width: 45%;
  border-radius: 4px;
  overflow: hidden;
  background-color: transparent;
}

.project_section .illu:after {
  content: '';
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 0px;
  width: 100%;
	height: 100%;
  background-color: #fbfbfb;
  -o-transition: transform 750ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
  -webkit-transition: transform 750ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
	transition: transform 750ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
	will-change: transform;
}

@media screen and (max-width: 970px) {
  .project_section .illu {
    width: 100%;
    height: 300px;
    border-radius: 0px;
  }
}

@media screen and (max-width: 450px) {
  .project_section .illu {
    width: 100%;
    height: 242px;
    border-radius: 0px;
  }
}


.illu-right {
  right: 0px;
}

.bg {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0px;
  top: 0px;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  -o-transition: transform 300ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
  -webkit-transition: transform 300ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
	transition: transform 300ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
	-webkit-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
}

.bg-left {
  left: 0px;
}

.bg-right {
  right: 0px;
}
